.Courses-width{
    width: 534px;
    margin-left: 368px;
}
.view-width{
    width: 200px;
    margin-left: 500px;
}
.Register-width{
    height: 200px;
}
.footer-pro{
    width: 300px;
}
.dark-width{
    height: 300px;
}